<a href="https://colab.research.google.com/github/mrmids/StockAnalysis/blob/Development/StockMarketAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
## Stock Market Analysis
## Collaborative project of ITExperience mentees

In [ ]:
## Code block for installing libraries that are not available by default
## To install, remove the line comment from the code line before running

#!pip install yfinance

In [2]:
## Import needed libraries

import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

In [3]:
## Save ticker symbol of stocks to be analysed. This can be a created using a 
## csv file of tickers as well

tickers = ["AAPL","AMZN", "GOOGL", "TSLA"]
tickers

['AAPL', 'AMZN', 'GOOGL', 'TSLA']

In [4]:
## Load the stock data from Yahoo finance using the YFinance library

StockData = yf.download(tickers, start = "2020-01-01", end = "2021-02-05")

[*********************100%***********************]  4 of 4 completed

In [5]:
## Preview stock data

StockData.head()

            Adj Close                            ...   Volume
                 AAPL         AMZN        GOOGL  ...     AMZN    GOOGL       TSLA
Date                                             ...
2020-01-02  74.333511  1898.010010  1368.680054  ...  4029000  1363900   47660500
2020-01-03  73.610840  1874.969971  1361.520020  ...  3764400  1170400   88892500
2020-01-06  74.197395  1902.880005  1397.810059  ...  4061800  2338400   50665000
2020-01-07  73.848442  1906.859985  1395.109985  ...  4044900  1716500   89410500
2020-01-08  75.036385  1891.969971  1405.040039  ...  3508000  1765700  155721500

[5 rows x 24 columns]